<div class="navbar-main">
  <div routerLink="/home" class="navbar-logo">
    <img src="assets/svg/logo.svg" alt="logo"/>
  </div>
  <div class="navbar-search">
    <input type="text" placeholder="Введите запрос..." [(ngModel)]="query" (keyup.enter)="initSearch()"/>
    <i class="material-icons md-24" routerLink="/search" [queryParams]="{query: query}">search</i>
  </div>
  <div class="navbar-user-actions" *ngIf="user == null">
    <i class="material-icons md-24" routerLink="/login">person</i>
  </div>
  <div class="navbar-user-actions" *ngIf="user && user.id">
    <i class="material-icons md-24" routerLink="/settings">settings</i>
    <i class="material-icons md-24" (click)="onExit()">exit_to_app</i>
  </div>
</div>
