<div class="search-page-div" *ngIf="!error">
  <app-filters [filters]="params" (initSearch)="doSearch($event)"></app-filters>
  <div class="film-cards-list" *ngIf="films.length > 0">
    <app-film-card *ngFor="let film of films" [film]="film"></app-film-card>
  </div>
  <app-error *ngIf="!films || films.length == 0" value="Извините, по вашему запросу ничего не найдено">
  </app-error>
  <button (click)="onMore()" *ngIf="films && films.length !==0 && films.length % 10 == 0">Еще результаты</button>
</div>

<app-error *ngIf="error" value=" Произошла ошибка! Не удается получить данные! Повторите попытку позднее."></app-error>
