@import 'src/styles';

.search-page-div {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  button {
    margin-top: 20px;
  }
}

.film-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}


