<div class="comment">
  <div class="comment-user-info">
    <div class="comment-user-avatar">
      <img [src]="'http://localhost:8000/' + comment.author.avatar" alt="user"/>
    </div>
    <div class="comment-username">
      {{comment.author.username}}
    </div>
  </div>
  <div class="comment-data">
    <div class="comment-text" *ngIf="!edit">
      {{comment.text}}
    </div>
    <textarea *ngIf="edit" [(ngModel)]="comment.text" (keyup)="onLiveChange($event)"></textarea>
    <div class="comment-user-actions" *ngIf="comment.author.username === getUsername() && !edit">
      <i class="material-icons md-24" (click)="onEdit()">edit</i>
      <i class="material-icons md-24" (click)="onDelete()">delete</i>
    </div>
    <div class="comment-user-actions" *ngIf="edit">
      <button (click)="onSave()">Сохранить</button>
      <button (click)="onBack()">Отменить</button>
    </div>
  </div>
</div>
