<div class="main-page-div" *ngIf="!error">
  <div class="main-banner">
    <img src="assets/jpg/banner" alt="banner"/>
  </div>
  <div class="cards-group">
    <app-title value="Самые популярные"></app-title>
    <app-film-carousel [films]="mostRatingFilms"></app-film-carousel>
  </div>
  <div class="cards-group">
    <app-title value="Самые обсуждаемые"></app-title>
    <app-film-carousel [films]="mostCommentedFilms"></app-film-carousel>
  </div>
</div>
<app-error *ngIf="error" value=" Произошла ошибка! Не удается получить данные."></app-error>
